*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    color: #e5e7eb;
    font-size: 18px;
}

h2 {
    font-size: 28px;
    color: #f9faf8;

}

.hero {
    display: flex;
    padding: 80px 10%;
    gap: 60px;

}

.hero h1 {
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.hero p {
    margin-top: 0;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;

}

.main-text {
    flex: 1;
}

.image-top img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    height: 300px;
}

.image-top {
    flex-basis: 55%;

}

.hero button {
    background-color: #3882f6;
    border-radius: 8px;
    text-align: center;
    padding: 8px 30px;
    font-size: medium;
    color: white;
    border: none;
    font-weight: bolder;

}

.information {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.squares-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.squares-and-text p {
    color: #1f2937;
    margin:0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-bottom: 80px;
    padding-top: 20px;
}


.square img{
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}


.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    padding-right: 10%;
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 0;
}

.quote-section p{
    color: #1f2937;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
    
}

.last-section {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-square {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    flex-basis: 90%;
    border-radius: 9px;
    height: 160px;
    align-items: center;

}

.left {

    flex-basis: 45%;
}

.left h4, .left p{
    color: white;
    text-align: left;
}

.left h4 {
    font-size: x-large;
    margin-bottom: 0;

}

.left p {
    margin-top: 0;
    color: #e5e7eb;
    font-size: large;
    padding-bottom: 10px;
}


.blue-square button {
    border: 3px solid white;
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 8px 38px;
    border-radius: 8px;

}

.footer {
    display: flex;
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    height: 100px;
    
}